{% load static %}<!DOCTYPE html>
<html>
<head>
	<title>{{app_name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href={% static 'website/css/spectre.min.css' %} rel=stylesheet>
	<link href={% static 'website/css/spectre-icons.min.css' %} rel=stylesheet>
	<link href={% static 'website/css/home.css' %} rel=stylesheet>
</head>
<body>
<div class="_container">

<div class="app"></div>

<!-- <header class="navbar">
  <section class="navbar-section">
  	<h1 class="appTitle "><span class="hyper">hyper</span><span class="test">Test</span></h1>
  </section>
</header> -->

<footer>
	© 2017 <span class="hyper">hyper</span><span class="test">Test</span> Technologies.
</footer>
<!-- https://coolors.co/44355b-31263e-221e22-eca72c-ee5622 -->
</div>
</body>
</html>